/**
Brusselslife colours 
 */

$dark_blue: #24475e;
$darker_blue: #263e4e;
$light_blue: #4c7f90;
$lighter_blue: #76bac5;
$blue: #0174c1;
$grey: #a3a3a3;
$dark_grey: #656565;
$darker_grey: #464646;
$light_grey: #dfdfdf;
$green: #24ae8d;
$black: #000000;
$orange: #fd865e;
$yellow: #ffcc00;

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=greek,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i&subset=latin-ext");
/**
Brusselslife fonts
 */
$baseFont: 'Open Sans', sans-serif;
$baseFont2: 'Merriweather', serif;
$baseFont3: 'Gentium Basic', serif;

/**
Brusselslife section themes
 */
$shopping_header: #555171;
$shopping_menu: #4c4865;

$restaurant_header: #546e39;
$restaurant_menu: #465b2f;

$article_title: 18px;



