<!DOCTYPE html>
<html class="no-js" lang="en">

{{> meta}}

<body>
<!--<div class="swiper-container" id="menu_swiper">-->
    <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide menu">-->

            <!--<nav id="side_menu">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="/home">-->
                            <!--<i class="fa fa-home"></i>-->
                            <!--<span>-->
                        <!--<i class="fa fa-home"></i>-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--BXL PRATIQUE-->
                            <!--<span>-->
                                <!--BXL PRATIQUE-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--BOIRE ET MANGER-->
                            <!--<span>-->
                         <!--BOIRE ET MANGER-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--SORTIES-->
                            <!--<span>-->
                        <!--SORTIES-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--SHOPPING-->
                            <!--<span>-->
                        <!--SHOPPING-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--BIEN-ETRE-->
                            <!--<span>-->
                         <!--BIEN-ETRE-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--SPORTS-->
                            <!--<span>-->
                        <!--SPORTS-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--HOTELS & LOGEMENT-->
                            <!--<span>-->
                         <!--HOTELS & LOGEMENT-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<i class="fa fa-calendar"></i> AGENDA-->
                            <!--<span>-->
                      <!--<i class="fa fa-calendar"></i> AGENDA-->
                    <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->


        <!--</div>-->
        <!--<div class="swiper-slide content">-->
           <!---->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
{{> body}}
{{> footer}}

</body>

</html>

